<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css'n'js/style2.css"> 
    <link rel="stylesheet" href="css'n'js/PB.css"> 
    <link rel="stylesheet" href="css'n'js/anim_new.css"> 
    <script src="sripts.js"></script>
    <title> BananaCombat 🍌</title>
</head>
<body style="display: flex; flex-direction: column; align-content: center; margin-top: 8px;">
    <header>
        <div style="width: 129px; height: 77px;"></div>
        <div class="main_zag">
            <a href="main_page.html" style="text-decoration: none;">
            <div class="glow-on-hover">
                Главная
            </div>
            </a>    
            <div class="circle_main">
                <img src="images/бабани1.png" width="120px" height="120px">
            </div>
            <div>
            <div class="glow-on-hover">
                <a> об игре
            </div>
    </div>
        </div>
        <div style="width: 129px; height: 77px; align-items: center; display: flex;">
            <div class="circle2 ifcircle"></div>
            <img src="images/знавыхода.png" style="width: 28px; height: 28px; margin-left: 24px;">
        </div>
    </header>
    <body>
        <div style="justify-content: center;">
        <div style="align-items: center; height: 600px;">
            <div class="circle circle_about" >
                <img src="images/бабани1.png" width="451px" height="451px" style="display: flex;">
            </div>
            <div style="margin-left: 40px; flex-direction: column; width: 1000px; margin-right: 40px; height: 350px;">
                <a style="font-size: 50px; margin-bottom: 30px;">ОБ ИГРЕ БАНАНИ КЛИКЕР</a>
                <a style=" font-size: 36px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</a>
            </div>
        </div>
        </div>
        <div style="justify-content: center;">
            <a href="about_us.html" style="text-decoration: none;">
            <div class="glow-on-hover" style="margin-top: 150px;">О НАС</div>
            </a>
        </div>
</body>
</html>