<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css'n'js/style2.css"> 
    <link rel="stylesheet" href="css'n'js/PB.css"> 
    <link rel="stylesheet" href="css'n'js/anim_new.css"> 
    <title> BananaCombat 🍌</title>
</head>
<body style="display: flex; flex-direction: column; align-content: center; margin-top: 8px;">
    <header>
        <div style="width: 129px; height: 77px;"></div>
        <div class="main_zag">
            <a href="main_page.html" style="text-decoration: none;">
                <div class="glow-on-hover">
                    <a>Главная  </a>
                </div>
            </a>    
            <div class="circle_main">
                <img src="images/бабани1.png" width="120px" height="120px">
            </div>
            <div>
            <a  href="about.html" style="text-decoration: none;">
            <div class="glow-on-hover">
                Об игре
            </div>
        </a>
    </div>
        </div>
        <div style="width: 129px; height: 77px; align-items: center; display: flex;">
            <div class="circle2" style="width: 77px; height: 77px; display: flex; justify-content: center; flex-direction: row; background: #727272;"></div>
            <img src="images/знавыхода.png" style="width: 28px; height: 28px; margin-left: 24px;">
        </div>
    </header>
    <div class="flextog">
        <div class="achiv_filed">
            <div style="display:flex;  align-items: center; width: 100%; flex-direction: column;">
                <div class="circle2" style="width: 268px; height: 268px; margin-top: 30px;"></div>
                <div><a class="player">Игрок user</a></div>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="container_info">
                        <a class="push">Достижения</a>
                        <a class="achiv">Скорострел</a>
                        <a class="achiv">Адский спидран</a>
                </div>
                <div class="container_info">
                    <a class="push bang">Статистика</a>
                    <a class="achiv">Скорострел</a>
                    <a class="achiv">Адский спидран</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>