<HTML>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>banani for free 🍌🍌🍌</title>
    </head>
    <body>
        <header>
            <div class="zagolovki"><h1 class="Zag1">🍌 Какие существуют банани? 🍌</h1></div>
        </header>
        <div class="blocks">
                <div    >
                    <img src="бабани1.png" width="290px" height="290px">
                    <h1 class="inside_text">Желтие банани 🟡</h1>
                    
                </div>
                <div>
                    <img src="бабани2.png" width="270px" height="270px">
                    <h1 class="inside_text">Зеление банани 🟢</h1>
                </div>
                <div>
                    <img src="чернибанан.png" width="290px" height="290px">
                    <h1 class="inside_text">Черни банани ⚫</h1>
                </div>
        </div>
    </body>
</HTML>